*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: block;
    background-color: #111;
}
.field {
    display: flex;
    padding: 2rem 2rem 2rem 2rem;
}



.playerSpace {
    display: block;
    padding: 0 0 0 5rem;
}
.playerDiv {
    background-color: #999;
    opacity: 0.9;
}
.playerDiv h1 {
    padding: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.5rem;
}
.p1Div {
    color: #113;
    margin: 0 2rem 5rem 0;
}
.p2Div {
    margin: 5.5rem 2rem 0 0;

    color: #311;
}

.markerSpace {
    margin: 0;
    display: flex;
    padding: 0 2rem 2rem 1.5rem;
}
.marker {
    height: 50px;
    width: 50px;
    margin: 0 0.25rem 0.25rem 0.25rem;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    font-weight: 900;
}
.p1Marker {
    background-color: transparent;
    color: #559;
}
.p2Marker {
    background-color: transparent;
    color: #955;
}


.boardSpace {
    max-width: 50%;
}
.row {
    display: flex;
    height: 150px;
    width: 450px;
}
.lSqr, .dSqr {
    height: inherit;
    width: 150px;
}
.lSqr {
    background-color: tan;
}
.dSqr {
    background-color: #333;
}
.selectSqr {
    background-color: #284;
}
.p1Sqr {
    display: flexbox;
    font-size: 10rem;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;

    background-color: rgba(75, 200, 255, 1);
    color: rgba(40, 50, 80, 1);
}
.p2Sqr {
    display: flexbox;
    font-size: 10rem;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    
    background-color: rgba(100, 0, 30, 1);
    color: rgba(255, 30, 75);
}
.pp {
    transform: translateY(-10%);
}


.ref {
    display: hidden;
}
.refSpace {
    display: block;
    position: relative;
    margin: 5rem 25% 0 20%;
    align-items: center;
    justify-content: center;

    color: #777;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    font-weight: 100;
}
.refSpace h2 {
    text-align: center;
}
.refSpace p {
    text-align: center;
    margin: 1rem 0 0 2rem;
}